/*for phones */
@media (orientation: portrait) {
    body {
        width: 100%;
        background-color: lightpink;
    }
}

body {
    width: 66%;
    margin: auto;
    background-color: lightpink;

}
img {
    width: 25%;
    margin: auto;
}